@import "../../styles/variables.scss";

.card {
  background: $whiteColor;
  border-radius: 12px;
  box-shadow: 0px 8px 16px rgba(110, 120, 130, 0.12);
  border-radius: 12px;
  min-height: 100px;
  .loadingCard {
    position: relative;
    background: inherit;
    border-radius: 12px;
    min-height: 100px;
  }
  > :not(.divider) {
    padding: 6px 12px;
  }
  .fullView {
    padding: 0;
  }
  .footer {
    padding: 0;
    width: 100%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    position: relative;
  }
  &.dot {
    border: 1px dashed #8f96b0 !important;
    border-radius: 8px !important;
    box-shadow: none !important;
  }
  &.toggle {
    .header {
      background: #e6e7e9;
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      display: flex;
      justify-content: space-between;
    }
  }
  &.toggled {
    .header {
      background: #2475ff;
      * {
        color: white;
      }
    }
    .body {
      border: 1px solid #2475ff;
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
    }
  }
}
.clickable {
  cursor: pointer;
  &:hover {
    box-shadow: 1px 1px 6px gray;
  }
}

.cardInput {
  position: relative;
  margin-bottom: 8px;
  label {
    text-transform: uppercase;
    font-size: 12px;
  }
  input {
    width: 100%;
    height: 46px;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #e6e7e9;
    box-sizing: border-box;
    box-shadow: 0px 2px 8px rgba(134, 152, 207, 0.08);
    font-size: 14px;
    &:focus {
      box-shadow: 0 0 0 0.1rem rgb(38 143 255 / 50%);
      border-color: #005cbf;
      outline: none;
    }
  }
  .icon {
    position: absolute;
    right: 12px;
    bottom: 12px;
  }
}

.cardSelect {
  margin-bottom: 8px;
  label {
    text-transform: uppercase;
    font-size: 12px;
  }
  .selectBtn {
    background: $whiteColor;
    color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 46px;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #e6e7e9;
    box-sizing: border-box;
    box-shadow: 0px 2px 8px rgba(134, 152, 207, 0.08);
    margin-top: 6px;
    font-size: 14px;
    &:focus,
    &:active {
      background-color: $whiteColor !important;
      color: inherit !important;
    }
  }
  .menu {
    width: 100%;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(134, 147, 207, 0.8);
    .selectAllBtn {
      
    }
    .menuItem {
      background: white;
      padding: 12px;
      &:hover {
        background: whitesmoke;
      }
      &:active {
        color: #005cbf;
      }
      &.selected {
        color: #005cbf;
        font-weight: 500;
      }
    }
    > *:not(:last-child) {
      border-bottom:1px solid #e6e7e9;
    }
  }
}
.cardDragItem {
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 25px;
}
.datePickerContainer {
  .datePicker {
    border: none;
    width: 130%;
    background-color: rgba(238, 238, 238, 0.616);
    padding: 0 5px;
    border-radius: 5px;
    font-weight: 400;
    color: rgb(59, 59, 59);
  }
  .calendar {
    display: flex !important;
    left: -10px;
    margin: 5px 0;
  }
  position: relative;
  .calendarIcon {
    position: absolute;
    right: 10px;
    top: 25%;
  }
}