@import "../../../../styles/variables.scss";
@import "../../../../styles/common.scss";

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .headerItems {
    display: inline-flex;
    align-items: center;
    >* {
      margin-right: 8px;
    }
  }
}
.campaignContainer {
  >* {
    margin: 16px;
  }
  * {
    font-weight: 300;
  }
}
.campaignHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.icon {
  margin-right: 16px;
}
.infoHeader {
  color: $darkNeutralColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.editSetting {
  color: $darkNeutralColor;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.cardBody {
  >* {
    padding: 6px 12px;
  }
}
.statusFooter {
  border-radius: inherit;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  height: 36px;
  &.live {
    color: $redSttColor;
    background: $redBgColor;
  }
  &.offline {
    color: $yellowSttColor;
    background: $yellowBgColor;
  }
}
.pauseBtn {
  padding: 8px;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.videoLibWrapper {
  margin: 0;
}
.popModal {
  position: fixed;
  bottom: 0;
  min-height: 300px;
  // width: 100%;
  z-index: 1;
  box-shadow: 0px 8px 16px gray;
  animation: pulse 1s;
}
@keyframes pulse {
  0%{
   bottom: -100%; 
  }
  100% {
   bottom: 0; 
  }
}