@import "../../../../styles/common.scss";
@import "../../../../styles/variables.scss";

.advertiserScreenStatus {
  display: inline-block;
  width: fit-content;
  padding: 2px 4px;
  border-radius: 4px;
  @extend .hiddenTextOverflow;

  &.live {
    background: $errorMainColor;
    color: $whiteColor;
  }

  &.disconnected {
    background: $warningLightBgColor;
    color: $warningMainColor;
  }
}
