@import "../../styles/variables.scss";
@import "../../styles/common.scss";

span.status {
  border-radius: 4px;
  padding: 0px 4px;
  display: flex;
  align-items: center;
  width: fit-content;
  &.live {
    color: $redSttColor;
    background: $redBgColor;
  }
  &.offline {
    color: $yellowSttColor;
    background: $yellowBgColor;
  }
}
.icon {
  height: 12px;
  width: 12px;
  margin-right: 5px;
}