@import "../../styles/variables.scss";
.toaster {
  position: absolute;
  min-width: 200px;
  right: 12px;
  top: 12px;
  z-index: 1;
  background: #ffffff;
  &.success {
    background-color: #c2e4c2;
    color: #077507;
  }
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .leftHead {
      display: flex;
      align-items: center;
    }
    .title {
      margin-left: 8px;
    }
  }
}