@import "../../styles/variables.scss";
@import "../../styles/common.scss";

.noData {
  color: $darkNeutralColor;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}