.videosContainer {
  display: flex;
  padding: 12px;
  > * {
    flex: 1;
    margin: 8px;
  }
}
.videoWrapper {
  margin-bottom: 12px;
  background-color: white;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 16px 16px rgba(110, 120, 130, 0.12);
  }
  box-shadow: 0px 8px 8px rgba(110, 120, 130, 0.12);
  border-radius: 8px;
  padding: 8px;
  .info {
    font-size: 14px;
  }
}