@import "../../styles/variables.scss";

.inputWrapper {
  width: 100%;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: stretch;
  background: $whiteColor;
  border: 1px solid $greyColor;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 14px;
  color: $darkColor;

  .input {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    color: inherit;
  }

  .suffixInput {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &.focused {
    box-shadow: 0px 2px 8px rgba(134, 152, 207, 0.08);
  }

  &.error {
    border-color: $errorLightColor;
  }
}

.errorMsg {
  color: $errorMainColor !important;
  margin-top: 4px;
}
