@import "../../styles/variables.scss";

.advertiserLayout {
  width: 100%;
  height: 100%;
  background: #f5f8ff;
  position: relative;
  transform: translate(0, 0);

  .contentWrapper {
    height: 100%;
    max-height: calc(100vh - 58px);
    overflow: auto;
  }

  .headerWrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 8px 16px;
    background: $whiteColor;
    box-shadow: 0px -8px 32px rgba(70, 96, 135, 0.1);
  }
}
