@import "../../styles/variables.scss";
@import "../../styles/common.scss";
.subLayout {
    .header {
        background: $whiteColor;
        min-height: 56px;
        width: 100%;
        padding: 20px;
        display: inline-flex;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 1;
        box-shadow: 2px 2px 8px rgba(224, 224, 224, 0.466);
    }
    .content {
        background: inherit;
        width: 100%;
    }
}