.hideScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.disableUserSelect {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.hiddenTextOverflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
