.icon {
  margin-right: 16px;
}
.title {
  display: flex;
  justify-content: center;
  width: 100%;
}
.scanner {
  // background: #262b32;
  opacity: 0.9;
  section {
    height: 90vh;
    width: 100%;
  }
}
